body {
    background-image: url("layer-3.jpg");
    background-size: cover;
    
    /* arkaplanı ortala ve tekrar etmesini engelle */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* head içerisine font ekledikten sonra buradan da font family ekleyelim */
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.daireclass {
    margin: auto;
    background-color: #ffffff;
    border: 18px solid rgba(102, 102, 102, 0.5);
    border-radius: 50%; /* eğer kareyse kutu 50% radius vererek daire şekli verebilirsin */
    width: 400px;
    height: 400px;/* yuvarlak olabilmesi için sabit yükseklik ve genişlik verdik */
    /* şimdi logoyu ortalayalım dikeyde ve yatayda */
    display: flex;
    justify-content: center;
    align-items: center;
}

#resim {
    max-width: 306px;
    /*  yükseklik zaten otomatik olarak ayarlanır */
    /* resme margin vermene gerek yok zaten kapsayıcı divi içinde ortaladık bkz: .dairelcass */
}

#row2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.52;
    letter-spacing: normal;
}

#adres {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

#phone {
    margin-right: 10px;
    max-width: 37px;
}

#mail {
    margin-right: 10px;
    max-width: 38px;
}

.header{
    font-size: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.52;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    .header{
        line-height: 1.3;
    }

    .daireclass{
        width: 360px;
        height: 360px;
    }

    .daireclass #resim{
        max-width: 240px;
    }
  }